In [1]:
%load_ext autoreload
%autoreload 2
import os
import pandas as pd
import sys
import numpy as np

import warnings
warnings.filterwarnings("ignore")

# Generate fake data for repo

In [2]:
mapping = {
    "Hemoglobin": "Hemoglobin",
    "Absolute Lymphocyte Count": "Absolute Lymphocyte Count",
    "Absolute Neut Count": "Absolute Neutrophil Count",
    "Absolute Baso Count": "Absolute Basophil Count",
    "Absolute Eos Count": "Absolute Eosinophil Count",
    "Absolute Mono Count": "Absolute Monocyte Count",
    "PLATELET COUNT, AUTO": "Platelet Count",
    "Ferritin": "Ferritin",
    "Lactate Dehydrogenase": "Lactate Dehydrogenase",
    "C-Reactive Protein": "C-Reactive Protein",
    "Red Blood Cell Count": "Red Blood Cell Count"
}

In [4]:
dat = pd.read_csv("./actual_data.csv", index_col=0).rename(columns=mapping)
# Summary statistics in paper
dat.describe()

,Hemoglobin,Absolute Lymphocyte Count,Absolute Neutrophil Count,Platelet Count,C-Reactive Protein,Ferritin,D-DIMER,Absolute Basophil Count,Absolute Eosinophil Count,Absolute Monocyte Count,Lactate Dehydrogenase,Red Blood Cell Count,Lymp/Neut,Age,positive,Male
count,1058.000000,834.000000,924.000000,1056.000000,714.000000,563.000000,465.000000,924.000000,924.000000,924.000000,545.000000,1059.00000,834.000000,1072.000000,1072.000000,1072.000000
mean,11.884877,1.465408,6.865617,234.986742,6.772129,640.282649,819.988538,0.032771,0.104351,0.688690,342.517431,4.11729,0.349343,59.063433,0.266791,0.543843
std,2.584653,2.351000,5.152422,113.498981,7.695302,1281.553657,1866.886384,0.029479,0.175709,0.526922,222.777991,0.90303,0.884046,21.546590,0.442489,0.498307
min,4.000000,0.030000,0.120000,1.000000,0.200000,4.000000,0.270000,0.000000,0.000000,0.010000,77.000000,1.33000,0.004274,0.000000,0.000000,0.000000
25%,10.100000,0.720000,3.695000,161.750000,0.585000,127.500000,2.660000,0.010000,0.010000,0.400000,205.000000,3.55000,0.103387,44.000000,0.000000,0.000000
50%,12.200000,1.140000,5.595000,222.000000,4.000000,340.000000,384.000000,0.030000,0.040000,0.580000,278.000000,4.17000,0.205104,62.000000,0.000000,1.000000
75%,13.800000,1.790000,8.760000,290.000000,10.575000,752.000000,872.000000,0.040000,0.150000,0.870000,408.000000,4.74000,0.381373,75.000000,1.000000,1.000000
max,19.100000,48.730000,59.070000,871.000000,37.700000,18188.000000,11000.000000,0.310000,2.330000,9.470000,2269.000000,6.94000,21.935135,102.000000,1.000000,1.000000

In [5]:
# Scramble values
for c in mapping.values():
    dat[c] = np.random.permutation(dat[c].values)
    
dat.to_csv("sample_data.csv")
dat.describe()

,Hemoglobin,Absolute Lymphocyte Count,Absolute Neutrophil Count,Platelet Count,C-Reactive Protein,Ferritin,D-DIMER,Absolute Basophil Count,Absolute Eosinophil Count,Absolute Monocyte Count,Lactate Dehydrogenase,Red Blood Cell Count,Lymp/Neut,Age,positive,Male
count,1058.000000,834.000000,924.000000,1056.000000,714.000000,563.000000,465.000000,924.000000,924.000000,924.000000,545.000000,1059.00000,834.000000,1072.000000,1072.000000,1072.000000
mean,11.884877,1.465408,6.865617,234.986742,6.772129,640.282649,819.988538,0.032771,0.104351,0.688690,342.517431,4.11729,0.349343,59.063433,0.266791,0.543843
std,2.584653,2.351000,5.152422,113.498981,7.695302,1281.553657,1866.886384,0.029479,0.175709,0.526922,222.777991,0.90303,0.884046,21.546590,0.442489,0.498307
min,4.000000,0.030000,0.120000,1.000000,0.200000,4.000000,0.270000,0.000000,0.000000,0.010000,77.000000,1.33000,0.004274,0.000000,0.000000,0.000000
25%,10.100000,0.720000,3.695000,161.750000,0.585000,127.500000,2.660000,0.010000,0.010000,0.400000,205.000000,3.55000,0.103387,44.000000,0.000000,0.000000
50%,12.200000,1.140000,5.595000,222.000000,4.000000,340.000000,384.000000,0.030000,0.040000,0.580000,278.000000,4.17000,0.205104,62.000000,0.000000,1.000000
75%,13.800000,1.790000,8.760000,290.000000,10.575000,752.000000,872.000000,0.040000,0.150000,0.870000,408.000000,4.74000,0.381373,75.000000,1.000000,1.000000
max,19.100000,48.730000,59.070000,871.000000,37.700000,18188.000000,11000.000000,0.310000,2.330000,9.470000,2269.000000,6.94000,21.935135,102.000000,1.000000,1.000000